/* customize.css Document */
#sidebar {
  width: inherit;
  min-width: 200px;
  max-width: 220px;
  background-color:#2d353c;
  float: left;
  height:100%;
  position:relative;
  overflow-y:auto;
  overflow-x:hidden;
  font-size:.85em;
}
#sidebar .nav>li>a .caret{
	margin-top:7px;
	color:#FFFFFF;}
#main {
  height:100%;
  overflow:auto;
  padding:10px 0 0 10px;
}
.profile-pics-sidebar{
	max-width:70px;
	max-height:70px;
}
.padding-none{	
	padding:0;}
.user-details{
	color:#FFFFFF;
	margin-bottom:10px;}
.bold{
	font-weight:bold!important;}
.h1-margin{
	margin-top:2px!important;}
.h-margin-bottom{
	margin-bottom:4px!important;}
.user-cont{
	vertical-align: middle;
	text-align: center;
	background-color: #384048;
	padding-top:10px;x
}
.user-desgntn{
	color:#a8acb1;}
ul.submenu-item{
	border-left:solid 3px #f77000;
	background-color:#232a2f!important;
	list-style:none;
	display: none;
	width:100%;
	}
ul.submenu-item li{
	line-height:30px;
	margin-left:-40px!important;}
ul.submenu-item li:hover{
	background-color:#1F2123;
}
ul.submenu-item li a{
	color:#a8acb1;
	padding-left:40px;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:52px;
}
ul.submenu-item li a:hover{
	color:#FFFFFF;
	text-decoration:none;
}
.navbar-nav-margin{
	margin-top:13px;}
.logo{
	max-width:150px;
	min-height:30px;
}
.footer{
	background-color:#2d353c;
	width:100%;
	height:20px;
	position: fixed;
	margin-left:-25px;
	bottom:0;}
@media (max-width: 767px) {
#sidebar {
	display:none;}
.navbar-nav{
	display:none;}
}